@charset "utf-8";

.main-visual {
	padding-top: 140px;
	padding-bottom: 100px;
	background-image: url("../images/cafe.jpg");
	background-size: cover;
	color: #ffffff;
	text-align: center;
}

.top-title {
	font-size: 64px;
	margin-bottom: 10px;
}

.top-subtitle {
	font-size: 24px;
	margin-bottom: 60px;
}

.main {
	padding: 60px 0;
	color: #5a5c5f;
	text-align: center;
}

.main h2 {
	margin-bottom: 20px;
}

.main-image {
	width: 500px;
	margin-bottom: 25px;
	box-shadow: 2px 2px 4px #b7b7b7;
	border-radius: 5px;
}

.main h3 {
	margin-bottom: 10px;
}

.time {
	font-size: 20px;
	margin-bottom: 15px;
}